/* CSS Document */
html, body { height: 100%; margin:0; }

svg
{
	
float:left;
width:100%;
height:100%;}

div#wrapper
{
	position:relative;
	float: left;
	width:100%;
	height:100%;
}

div#background
{
	position: relative;
	-moz-border-radius: 75%; /* Firefox */  
	-webkit-border-radius: 75%; /* Safari, Chrome */  
	border-radius: 75%; /* CSS3 */  
	border: 5px dotted #0C0;
	height: 100%;
	width:100%;
	margin: 0 auto;
	box-sizing: border-box;
};

game
{
	position: absolute;
	left: 0;
}

#gameZone
{
    font-size: 1em;
    height: 100%;
	margin: 0 auto;
}

#svgRoot
{
	position: absolute;
	left: 0;
	top: 0;
}

div#message
{
	position: absolute;
	width: 100px;
	top: 300px;
	left: 50%;
	margin-left: -50px;
	text-align: center;
	background-color: #00FF33;
	color: #ffffff;
	-moz-border-radius: 15%;
	-webkit-border-radius: 15%;
	border-radius: 15%;
	border-color: white;
}

